/* #cluster-map {
    width: 100%;
    height: 500px;
} */

#cluster-map {
    width: 100%;
    height: 500px;
    border-radius: 1000px;
    overflow: hidden;
    margin: 2rem auto;
}

.container h1 {
    text-align: center;
    font-weight: 700;
}

#map {
    width: 100%;
    height: 300px;
}